


<%= render 'users/list_user', user: @user %>
<%= render 'books/list', book: @book %>

<h1>Books</h1>
<table>
  <head>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
    <tr>
    <% @books.each do |book| %>
      <th>
        <%= link_to user_path(book.user.id) do %>
          <%= image_tag @user.get_profile_image(100,100) %>
        <% end %>
      </th>
      <th>
        <%= link_to book_path(book.id) do %>
            <%= book.title %>
            <% end %>
      </th>
      <th><%= book.body %></th>
    </tr>
    <% end %>
  </head>
</table>